@model AlbergoEPICODE_MVC.Models.Camera

@{
    ViewBag.Title = "Create";
}


<div class="p-5 m-5 shadow-lg">
    <div class="row justify-content-center p-5 shadow-lg">
        <div class="col-md-6 bg-dark text-light p-5 shadow-lg d-flex justify-content-center">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4 class="fw-light text-center">AGGIUNGI CAMERA</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IdCamera)

                <div class="form-group m-1">
                    @Html.LabelFor(model => model.Descrizione, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Descrizione, new SelectList(AlbergoEPICODE_MVC.Models.Camera.ListaTipoCamera), "  Seleziona tipo camera  ", new { @class = "form-control bg-dark text-white-50" })
                        @Html.ValidationMessageFor(model => model.Descrizione, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group m-1">
                    <p>Tipo di camera</p>
                    <div class="col-md-10">
                        <div class="radio">
                            <label>
                                @Html.RadioButtonFor(model => model.IsDoppia, true) Doppia
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                @Html.RadioButtonFor(model => model.IsDoppia, false) Singola
                            </label>
                        </div>
                        @Html.ValidationMessageFor(model => model.IsDoppia, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group my-3">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Aggiungi camera" class="w-100 btn btn-outline-light rounded-0" />
                    </div>
                </div>
            </div>
            }
            </div>
        </div>
    </div>