@model IEnumerable<AlbergoEPICODE_MVC.Models.Servizio>

@{
    ViewBag.Title = "List";
}

<h2>Lista extra</h2>

    <p>
        @Html.ActionLink("Aggiungi extra", "Create", null, new { @class = "text-decoration-none fs-4" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdServizio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPrenotazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataServizio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezzo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdServizio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroPrenotazione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataServizio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descrizione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prezzo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdServizio }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdServizio })
                </td>
            </tr>
        }

    </table>
