@model AlbergoEPICODE_MVC.Models.Cliente

@{
    ViewBag.Title = "Create";
}

<div class="p-5 m-5 shadow-lg">
    <div class="row justify-content-center p-5 shadow-lg">
        <div class="col-md-6 bg-dark text-light p-5 shadow-lg d-flex justify-content-center">
            @using (Html.BeginForm("Create", "Customer", FormMethod.Post, new { data_val = "true" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4 class="fw-light text-center">AGGIUNGI CLIENTE</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IdCliente)

                    <div class="form-group m-1">
                        @Html.LabelFor(model => model.CF, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CF, new { htmlAttributes = new { @class = "form-control bg-dark text-white-50" } })
                            @Html.ValidationMessageFor(model => model.CF, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group m-1">
                        @Html.LabelFor(model => model.Cognome, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cognome, new { htmlAttributes = new { @class = "form-control bg-dark text-white-50" } })
                            @Html.ValidationMessageFor(model => model.Cognome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group m-1">
                        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control bg-dark text-white-50" } })
                            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group m-1">
                        @Html.LabelFor(model => model.Citta, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Citta, new { htmlAttributes = new { @class = "form-control bg-dark text-white-50" } })
                            @Html.ValidationMessageFor(model => model.Citta, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group m-1">
                        @Html.LabelFor(model => model.Provincia, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Provincia, new { htmlAttributes = new { @class = "form-control bg-dark text-white-50" } })
                            @Html.ValidationMessageFor(model => model.Provincia, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group m-1">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control bg-dark text-white-50" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group m-1">
                        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control bg-dark text-white-50" } })
                            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group m-1">
                        @Html.LabelFor(model => model.Cellulare, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cellulare, new { htmlAttributes = new { @class = "form-control bg-dark text-white-50" } })
                            @Html.ValidationMessageFor(model => model.Cellulare, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group my-3">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Aggiungi anagrafica" class="w-100 btn btn-outline-light rounded-0" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
