@model IEnumerable<AlbergoEPICODE_MVC.Models.Cliente>

@{
    ViewBag.Title = "List";
}

    <div class="p-5 m-5 shadow-lg">
        <h2 class="fw-light text-center text-white-50 bg-dark mb-0 pt-2">LISTA CLIENTI REGISTRATI</h2>
        <div class="bg-dark table-responsive-xl p-5 d-flex justify-content-center">
            <table class="table-responsive-xl bg-dark text-white-50">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IdCliente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CF)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cognome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Citta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Provincia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cellulare)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CF)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cognome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Citta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Provincia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cellulare)
                        </td>
                        <td>
                            <div class="btn-group p-2" role="group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.IdCliente }, new { @class = "ms-1 btn btn-outline-light rounded-0" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.IdCliente }, new { @class = "me-1 btn btn-outline-light rounded-0" })
                            </div>
                        </td>
                    </tr>
                }

            </table>
            </div>
        </div>
