@model IEnumerable<AlbergoEPICODE_MVC.Models.Prenotazione>

@{
    ViewBag.Title = "List";
}

<div class="p-5 m-5 shadow-lg">
    <h2 class="fw-light text-center text-white-50 bg-dark mb-0 pt-2">LISTA PRENOTAZIONI ATTIVE</h2>
    <div class="bg-dark table-responsive-xl p-5 d-flex justify-content-center">
        <table class="table-responsive-xl bg-dark text-white-50">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdPrenotazione)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroCliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroCamera)
                </th>
                <th class="d-none d-xxl-table-cell">
                    @Html.DisplayNameFor(model => model.DataPrenotazione)
                </th>
                <th class="d-none d-xxl-table-cell">
                    @Html.DisplayNameFor(model => model.NumeroProgressivo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataCheckIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataCheckOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Caparra)
                </th>
                <th class="d-none d-xxl-table-cell">
                    @Html.DisplayNameFor(model => model.TipoSoggiorno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tariffa)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPrenotazione)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroCamera)
                    </td>
                    <td class="d-none d-xxl-table-cell">
                        @Html.DisplayFor(modelItem => item.DataPrenotazione)
                    </td>
                    @Html.HiddenFor(modelItem => item.Anno)
                    <td class="d-none d-xxl-table-cell">
                        @Html.DisplayFor(modelItem => item.NumeroProgressivo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCheckIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCheckOut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Caparra)
                    </td>
                    <td class="d-none d-xxl-table-cell">
                        @Html.DisplayFor(modelItem => item.TipoSoggiorno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tariffa)
                    </td>
                    <td>
                        <div class="btn-group p-2" role="group">
                            @Html.ActionLink("Edit", "Edit", new { id = item.IdPrenotazione }, new { @class = "ms-1 btn btn-outline-light" })
                            @Html.ActionLink("Checkout", "Checkout", new { id = item.IdPrenotazione }, new { @class = "btn btn-outline-light" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.IdPrenotazione }, new { @class = "me-1 btn btn-outline-light" })
                        </div>
                    </td>

                </tr>
            }
        </table>
    </div>
</div>
