@model IEnumerable<AlbergoEPICODE_MVC.Models.Prenotazione>

@{
    ViewBag.Title = "listaCheckout";
}

<div class="p-5 m-5 shadow-lg">
    <h2 class="fw-light text-center text-white-50 bg-dark mb-0 pt-2">LISTA PRENOTAZIONI DISATTIVE</h2>
    <div class="bg-dark table-responsive-xl p-5 d-flex justify-content-center">
        <table class="table-responsive-xl bg-dark text-white-50">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdPrenotazione)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroCliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroCamera)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataPrenotazione)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroProgressivo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataCheckIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataCheckOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Caparra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tariffa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoCamera)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPrenotazione)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroCamera)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataPrenotazione)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroProgressivo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCheckIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCheckOut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Caparra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoSoggiorno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tariffa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoCamera)
                    </td>
                    <td>
                        @Html.ActionLink("Ripristina", "UndoCheckout", new { id = item.IdPrenotazione }, new { @class = "btn btn-outline-light rounded-0" })

                    </td>
                </tr>
            }

        </table>
        </div>
    </div>
</div>
